In [1]:
from typing import List, Dict, Any, Tuple, Union, Optional

import pandas as pd

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

import logging
logging.basicConfig()
logger = logging.getLogger("back_test")
logger.setLevel(logging.INFO)

# Задание 3

Отсортируйте алгоритмы по сумме предсказанного количества заказов за период теста от самого большого к самому маленькому

In [2]:
result_2_df = pd.read_csv("./data/homework_2_2_solution.csv")
result_2_df.head()

     algo        ds  orders_num
0  algo_1  20231008   279686.60
1  algo_1  20231009   322938.31
2  algo_1  20231010   349101.83
3  algo_1  20231011   223993.36
4  algo_1  20231012   265142.84

In [3]:
result_2_df.groupby("algo").agg({"orders_num": "sum"}).reset_index().sort_values("orders_num", ascending=False).round()

     algo  orders_num
4  algo_5   4282026.0
0  algo_1   4262385.0
2  algo_3   4227638.0
1  algo_2   4215162.0
3  algo_4   4194876.0